@import "tailwindcss";

@theme {
  /* --color-primary: #fe4a09; */
  --color-primary: #404040;
  --color-secondary: #02001a;
  --color-background: #a3a3a3;
  --color-base: #d4d4d4;
  /* --color-background: #f1f1f1; */
  --color-foreground: #242424;
  --font-montserrat: "Montserrat", "system-ui, Avenir";
  --font-roboto: "Roboto", "system-ui, Avenir";
  /* --color-background: #333333; */
}

@layer utilities {
  .btn-fill {
    @apply border-primary hover:bg-primary/70 bg-primary text-background cursor-pointer rounded-3xl border px-5 py-2 transition-all duration-200 disabled:cursor-not-allowed;
  }
  .btn-error {
    @apply text-background cursor-pointer rounded-3xl border border-red-600 bg-red-600 px-5 py-2 transition-all duration-200 hover:bg-red-600/70 disabled:cursor-not-allowed;
  }
  .btn {
    @apply border-foreground hover:bg-foreground hover:text-background cursor-pointer rounded-3xl border px-5 py-2 transition-all duration-200 disabled:cursor-not-allowed;
  }
  .btn-param {
    @apply bg-secondary text-background hover:bg-secondary/80 [&.active]:bg-primary divide-current rounded-md p-2 transition-all duration-200 disabled:cursor-not-allowed;
  }
}

:root {
  font-family: var(--font-roboto);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-foreground);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
